<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

  <meta name="description" content="{{ page.description | default: site.description }}">
  <link rel="icon" href="https://static.wixstatic.com/media/0261a6_4871fa964e70483b9afc86c8d9ac6294~mv2.png">
  <meta property="og:image" content="https://static.wixstatic.com/media/35c132_c0fb7faf6adc4abebbc07b267a1e5210~mv2.jpg">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>

  {% include header.html %}

  <main id="content">
    {{ content }}
  </main>

  {% include footer.html %}

  <!-- optional scripts -->
</body>
</html>
